body {
  background-color: grey;
}
.container {
  margin-left: 45%;
  background-color: 
}
.post {
  margin-left: 5.5%;
  width: 45px;
  height: 100px;
  background-color: black
}
.block {
  padding-top: 5px;
  width: 120px;
  height: 300px;
  background-color: black;
}
.light {

  margin: 8px;
  margin-left: 15px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: white;
}
.red {
  background-color: red;

}
.green {
  background-color: green;

}
.yellow {
  background-color: yellow;

}
.red:hover {
  box-shadow: 0px 0px 100px 100px red;
}
.yellow:hover {
  box-shadow: 0px 0px 200px 200px yellow;
}
.green:hover {
  box-shadow: 0px 0px 300px 300px green;
}